* {
  padding: 0;
  margin: 0;
}
#a-con,
#b-con {
  display: flex;
}
#container {
  max-width: 1800px;
  width: 100%;
  border: 1px solid;
  margin: 1em auto 0;
}
#ref {
  width: 25%;
  background-color: black;
}
.description {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.video {
  display: flex;
  background-color: black;
  justify-content: center;
  width: 75%;
}
video {
  border-top: 2px solid black;
  width: 95%;
  height: auto;
}
.sec-list {
  list-style-type: none;
  margin: 0 auto;
  width: 90%;
}
.description {
  background-color: bisque;
}
.ref-label {
  border-left: 5px solid orange;
  padding-left: 1em;
  margin-bottom: 1em;
}
.ref-text {
  background: black;
  color: floralwhite;
  width: 65%;
  margin: 1em auto 0;
  height: 95%;
}
.sections {
  background-color: darkblue;
  width: 25%;
}
.units {
  list-style-type: none;
}
